@import 'bootstrap/dist/css/bootstrap.min.css';
/* Color Variables */
:root {
  --primary-color: #4a90e2;      /* Primary blue */
  --secondary-color: #f5a623;    /* Accent orange */
  --background-color: #F9F9FF;   /* Light gray background */
  --text-color: #0000;         /* Dark gray text */
  --muted-color: #9F9F9F;        /* Muted gray */
  --selection-color: #FCB3BF;
  --icon-color:#AE98DC;    
}
/* styles/globals.css */
@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/DMSans-Regular.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal;}



/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'CustomFont', sans-serif;
  background-color: var(--background-color);
  line-height: 1.6;
}

::selection {
  background-color: var(--selection-color); 
}






